@model Statistical

<div class="card mb-3 m-4" style="max-width: 400px;">
    <div class="row g-0">
        <div class="col-md-4 text-center" style="background-color:antiquewhite">
            <i class="fa fa-bar-chart-o fa-4x" style="color:cadetblue"></i>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Count</p>
            </div>
        </div>
    </div>
</div>