@model SubcriberFilterModel

<form asp-area="Admin"
	  asp-controller="Subscriber"
	  asp-action="Index"
   method="get"
   class="row gy-2 gx-3 align-items-center">
	<div class="col-auto">
		<label class="visually-hidden" asp-for="Keyword"></label>
		<input type="text"
	  class="form-control"
			   asp-for="Keyword"
	  placeholder="Nhập từ khóa ..." />

	</div>

	<div class="col-auto">
		<label class="visually-hidden" asp-for="Status"></label>
		<select type="form-select"
				asp-for="Status"
				asp-items="Model.StatusList">
			<option value="" selected>
				-- Chọn trạng thái --
			</option>
		</select>
	</div>

	<div class="col-auto">
		<label class="visually-hidden" asp-for="YearRegis"></label>
		<input type="text"
	  class="form-control"
			   asp-for="YearRegis"
	  placeholder="Nhập năm ..." />
	</div>
	<div class="col-auto">
		<label class="visually-hidden" asp-for="MonthRegis"></label>
		<select type="form-select"
				asp-for="MonthRegis"
				asp-items="Model.MonthList">
			<option value="" selected>
				-- Chọn tháng --
			</option>
		</select>
	</div>
	
	<div class="col-auto">
		<button type="submit" class="btn btn-primary">Tìm/Lọc</button>
		<a asp-area="Admin"
		   asp-controller="Subscriber"
		   asp-action="DefaultFilter"
	 class="btn btn-success">
			Bỏ lọc
		</a>
	</div>



</form>
