<div class="my-4">
	<partial name="_SearchForm" />
	@await Component.InvokeAsync("CategoriesWidget")
	
	@await Component.InvokeAsync("FeaturedPosts")

	@await Component.InvokeAsync("RandomPosts")

	@await Component.InvokeAsync("TagCloud")

	@await Component.InvokeAsync("BestAuthors")

	@await Component.InvokeAsync("Archives")


</div>