@model IPagedList<Post>
@{
	ViewData["PageTitle"] = "Bài viết theo tác giả";

	var nameAuthor = (ViewBag.NameAuthor as string) ?? "Không tìm thấy tác giả";
}

<div class="p-4">
	@if (!string.IsNullOrWhiteSpace(nameAuthor))
	{
		<h3 class="text-primary mb-3">
			Những bài viết của '@nameAuthor'
		</h3>
	}

	@foreach (var postItem in Model)
	{
		<partial name="_PostList" model="postItem" />
	}
	<partial name="_Pager" model="@Model" />
</div>