@model PostFilterModel

<form asp-area="Admin"
	  asp-controller="Posts"
	  asp-action="Index"
   method="get"
   class="row gy-2 gx-3 align-items-center">
	<div class="col-auto">
		<label class="visually-hidden" asp-for="keyword"></label>
		<input type="text"
	  class="form-control"
			   asp-for="keyword"
	  placeholder="Nhập từ khóa ..." />

	</div>

	<div class="col-auto">
		<label class="visually-hidden" asp-for="AuthorId"></label>
		<select type="form-select"
				asp-for="AuthorId"
				asp-items="Model.AuthorList">
			<option value="" selected>
				-- Chọn tác giả --
			</option>
		</select>
	</div>
	<div class="col-auto">
		<label class="visually-hidden" asp-for="CategoryId"></label>
		<select type="form-select"
				asp-for="CategoryId"
				asp-items="Model.CategoryList">
			<option value="" selected>
				-- Chọn chủ đề --
			</option>
		</select>
	</div>
	<div class="col-auto">
		<label class="visually-hidden" asp-for="Year"></label>
		<input type="text"
				class="form-control"
			   asp-for="Year"
	  placeholder="Nhập năm ..." />
	</div>
	<div class="col-auto">
		<label class="visually-hidden" asp-for="Month"></label>
		<select type="form-select"
				asp-for="Month"
				asp-items="Model.MonthList">
			<option value="" selected>
				-- Chọn tháng --
			</option>
		</select>
	</div>	
	<div class="col-auto">
		<label class="visually-hidden" asp-for="NotPublished"></label>
		<input type="checkbox"
				title="Chưa xuất bản"
				asp-for="NotPublished"
				/>
		<label class="text-secondary">Chưa xuất bản</label>
		
	</div>
	<div class="col-auto">
		<button type="submit" class="btn btn-primary">Tìm/Lọc</button>
		<a	asp-area="Admin"
			asp-controller="Posts"
			asp-action="Edit"
			class="btn btn-success">
			Thêm mới
		</a>
		<a asp-area="Admin"
		   asp-controller="Posts"
		   asp-action="DefaultFilter"
	 class="btn btn-success">
			Bỏ lọc
		</a>
	</div>
	


</form>
